@import "tailwindcss";

* {
  font-family: "Sansation", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Brand Colors */
  --color-dark: #121212;
  --color-primary: #009DFF;
  --color-secondary: #8CBBD9;

  /* Gradient Tokens */
  --gradient-primary: linear-gradient(125deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.cursor-dot {
  @apply fixed top-0 left-0 w-4 h-4 bg-white rounded-full pointer-events-none z-[9999];
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease;
  mix-blend-mode: difference;
}

.btn-cta {
  @apply px-6 py-2 font-semibold border border-white/50 hover:border-white rounded-full bg-transparent hover:bg-white transition scale-100 hover:scale-110;
}

.text-gradient {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
  border: 2px solid transparent;
  border-image: var(--gradient-primary);
  border-image-slice: 1;
}

.bg-gradient {
  @apply bg-linear-to-r from-blue-300 to-blue-400;
}
.bg-dark {
  background-color: var(--color-dark);
}

.bg-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10vh);
  border-left: 0px solid rgba(0, 157, 255,0.8);
  border-right: 0px solid rgba(0,157,255,0.8);
  border-bottom: 25px solid rgba(0,157,255,0.8);
  border-radius: 0 0 350px 350px;
  overflow: hidden;
  filter: blur(2px);
  z-index: 0;
  box-shadow:
    0 0 20px 2px rgba(0, 157, 255, 0.7), 
    0 0 40px 40px rgba(0, 157, 255, 0.4),inset 
    0 0 0px rgba(0, 157, 255, 0.5)
}


.bg-glow::after {
  content: "";
  position: absolute;
  inset: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 20px solid rgba(0,157,255,0.6);
  border-radius: 0 0 350px 350px;
  filter: blur(25px);
  background: radial-gradient(
    circle at bottom center,
    rgba(0,157,255,0.3) 0%,
    rgba(0, 157, 255, 0.205) 20%,
    transparent 80%
  );
  mask-image: radial-gradient(circle at bottom, white 40%, transparent 90%);
  animation: waveOut 5s ease-in-out infinite alternate;
  opacity: 0.9;
}

@keyframes waveOut {
  0% {
    transform: scale(1);
    filter: blur(10px) brightness(1.3);
  }
  50% {
    transform: scale(1.05) translateY(4px);
    filter: blur(25px) brightness(1.6);
  }
  100% {
    transform: scale(1.1) translateY(0px);
    filter: blur(15px) brightness(1.4);
  }
}

.shiny-text {
  position: relative;
  display: inline-block;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #fff,
    #00f0ff,
    #fff,
    #006eff,
    #fff
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2.5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
